* {
    border: 0;
    margin: 0;
}

@font-face {
    font-family: "Chalet";
    src: url("../fonts/Chalet.eot");
    src: url("../fonts/Chalet.eot?#iefix") format("embedded-opentype"), url("../fonts/Chalet.woff") format("woff"), url("../fonts/Chalet.ttf") format("truetyupe"), url("../fonts/Chalet.svg#Chalet") format("svg");
}

a {
    /* color: #F60 !important; */
    text-decoration: none !important;
}

a:hover {
    color: #7BBFD5 !important;
}

body {
    background: #FFF !important;
    color: #212121 !important;
    font-family: "Chalet", Helvetica, Verdana !important;
    font-size: 16px !important;
    font-weight: 200 !important;
    line-height: 1 !important;
    text-align: left !important;
}

fieldset {
    border: .1em solid #F60 !important;
    border-radius: .5em !important;
    padding: 1em !important;
}

form,
#visorArchivo,
#imgplus,
.sectionImg {
    display: none;
}

form div {
    margin: .5em;
}

input[type="checkbox"],
input[type="radio"],
select {
    background: #EEE;
    cursor: pointer;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="text"] {
    background: rgba(241, 241, 241, 0.212);
    border-radius: .25em;
    color: #F60;
    font-size: 1em;
    padding: .25em;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
    background: rgba(227, 255, 254, 0.432);
}

input[type="email"]:disabled {
    background: transparent;
    color: rgb(146, 146, 146);
}

input[type="file"] {
    cursor: pointer;
    /* display: none; */
}

input[type="submit"] {
    width: 40%;
    margin: 0 30% 0 30%;
    height: 35px;
    background: url("../img/sin_ruido.png");
    -webkit-box-shadow: 4px 0px 25px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 25px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 0px 25px -12px rgba(0, 0, 0, 0.75);
    color: #FFF;
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 16px;
    border-radius: 0 .50em;
    cursor: pointer;
    transition: all .55s linear;
}

input[type="submit"]:hover {
    -webkit-box-shadow: 4px 0px 33px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 33px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 0px 33px -12px rgba(0, 0, 0, 0.75);
    border-radius: .50em 0;
    background: url("../img/ruido.png");
}

label {
    cursor: pointer;
}

ul {
    list-style: none;
}

#contenido {
    margin: 0 auto;
    text-align: center;
}

#div {
    padding: 5px 5px;
}

#divimg {
    text-align: center;
}

#img {
    position: relative;
    width: 144px;
    height: 163px;
    background: rgb(250, 250, 250);
    font-size: 14px;
    border-radius: .5em;
    text-align: center;
    transition: all .25s linear;
    overflow: hidden;
}

#img:hover #imgpred {
    background: rgb(0, 0, 0);
    color: #EEE;
}

#imgpred,
#imgplus div {
    padding: 2em;
    margin: 0;
}

#imgplus div i {
    margin: .2em 0;
}

#imgpred {
    transition: all .35s linear;
    z-index: 1;
}

#imgplus,
#loader {
    position: absolute;
    top: 0;
    color: #fff;
    background-color: rgba(139, 102, 139, 0.589);
    font-size: 11px;
    opacity: 0;
    transition: all .35s linear;
    z-index: 2;
}

#img:hover #imgplus {
    opacity: 1;
}

#loader {
    left: 0;
    z-index: 999;
    background: url(../img/loader.gif) no-repeat center;
    background-size: cover;
}

#principal {
    -ms-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -o-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: inline-block !important;
    font-size: 1em;
    margin: .25em;
    text-align: left;
    vertical-align: top;
}

.adjuntar-archivo {
    background: #EEE url(../img/boton-buscar.png) no-repeat 100%;
}

.cambio {
    -ms-transition: all .55s ease-out !important;
    -moz-transition: all .55s ease-out !important;
    -o-transition: all .55s ease-out !important;
    -webkit-transition: all .55s ease-out !important;
    transition: all .55s ease-out !important;
}

.divImg,
.sectionImg {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.divImg,
#imgplus,
#img_contacto,
#img_contacto embed,
#loader,
.sectionImg,
#visorArchivo,
#visorArchivo embed {
    width: 100%;
    height: 100%;
}

.loaderp {
    position: absolute;
    /* top: 5%; */
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #FFF;
    /* background-position-y: 0%; */
    z-index: 5;
    overflow: hidden;
}

.mensajes {
    background-color: rgba(255, 255, 0, 0.527);
    border-radius: .5em;
    font-family: Helvetica, Verdana;
    font-size: 1em;
    padding: .5em;
}

.sectionImg {
    background-color: #2121213c;
}

.transformdiv {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 50%;
    transform: scale(0);
    border: 5px solid rgb(61, 61, 61);
    background-color: rgb(61, 61, 61);
}

.transformdiv,
.transformdiv img {
    border-radius: .4em;
}

.transformdiv span {
    position: absolute;
    bottom: 100%;
    left: 100%;
    opacity: 0.6;
}

.transformdiv span:hover {
    opacity: 1;
}