* {
    border: 0;
    margin: 0;
}

@font-face {
    font-family: "Chalet";
    src: url("../fonts/Chalet.eot");
    src: url("../fonts/Chalet.eot?#iefix") format("embedded-opentype"), url("../fonts/Chalet.woff") format("woff"), url("../fonts/Chalet.ttf") format("truetyupe"), url("../fonts/Chalet.svg#Chalet") format("svg");
}

a {
    color: #F60;
    text-decoration: none;
}

a:hover {
    color: #7BBFD5
}

body {
    background: #FFF;
    color: #212121;
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 16px;
}

fieldset {
    border: .1em solid #F60;
    border-radius: .5em;
    padding: 1em;
}

form,
#visorArchivo,
#imgplus {
    display: none;
}

form div {
    margin: .5em;
}

input[type="checkbox"],
input[type="radio"],
select {
    background: #EEE;
    cursor: pointer;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="text"] {
    background: rgba(241, 241, 241, 0.212);
    border-radius: .25em;
    color: #F60;
    font-size: 1em;
    padding: .25em;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="text"]:focus {
    background: rgba(227, 255, 254, 0.432);
}

input[type="file"] {
    cursor: pointer;
    display: none
}

input[type="submit"] {
    width: 40%;
    margin: 0 30% 0 30%;
    height: 35px;
    background: url("../img/sin_ruido.png");
    -webkit-box-shadow: 4px 0px 25px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 25px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 0px 25px -12px rgba(0, 0, 0, 0.75);
    color: #FFF;
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 16px;
    border-radius: 0 .50em;
    cursor: pointer;
    transition: all .55s linear;
}

input[type="submit"]:hover {
    -webkit-box-shadow: 4px 0px 33px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 0px 33px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 0px 33px -12px rgba(0, 0, 0, 0.75);
    border-radius: .50em 0;
    background: url("../img/ruido.png");
}

label {
    cursor: pointer;
}

nav,
#principal {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    margin: .25em;
    text-align: left;
    width: 20%;
    vertical-align: top;
}

#visorArchivo,
#visorArchivo embed,
#imgplus {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

#contenido {
    margin: 0 auto;
    text-align: center;
}

#principal {
    width: 75%;
}

#div {
    padding: 5px 5px;
}

#img {
    position: absolute;
    top: 2em;
    right: 3em;
    width: 144px;
    height: 163px;
    background: rgb(250, 250, 250);
    font-size: 14px;
    border-radius: .5em;
    text-align: center;
    transition: all .25s linear;
    overflow: hidden;
}

#img:hover {
    background: rgb(0, 0, 0);
    color: #EEE;
}

#imgpred,
#imgplus div {
    padding: 2em;
    margin: 0;
}

#imgplus div i {
    margin: .2em 0;
}

#imgpred {
    z-index: 1;
}

#imgplus {
    position: absolute;
    top: 0;
    color: #fff;
    background-color: rgba(139, 102, 139, 0.589);
    font-size: 11px;
    opacity: 0;
    transition: all .35s linear;
    z-index: 2;
}

#img:hover #imgplus {
    opacity: 1;
}

.adjuntar-archivo {
    background: #EEE url(../img/boton-buscar.png) no-repeat 100%;
}

.cambio {
    -ms-transition: all .55s ease-out;
    -moz-transition: all .55s ease-out;
    -o-transition: all .55s ease-out;
    -webkit-transition: all .55s ease-out;
    transition: all .55s ease-out;
}